h1{
    text-align: center;
}
h2{
    text-align: center;
}
.container{
    float: left;
    overflow: hidden;
    padding-top: 50px;
}
table{
  width: 50%;  
}
tr{
    transition:all .25s ease-in-out;
}
tr:hover{
    background-color:#EEE;cursor: pointer;
}
.gallery {
    margin: 5px;
    float: left;
    width: 180px;
    padding-left: 100px;
  }
.gallery img {
    width: 100%;
    height: 150px;
  }
  
.desc {
    padding: 15px;
    text-align: center;
  }